@model SYSWEB.Entities.ProductoEnt

@{
    ViewData["Title"] = "PerfilUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información del Producto</h4>

            @using (Html.BeginForm("ActualizarProducto", "Producto", FormMethod.Post, new { @class = "pt-3", @enctype = "multipart/form-data" }))
            {
                @ViewBag.MensajePantalla

                @Html.HiddenFor(m => m.IdProducto)

                <div class="form-group">
                    <label>Nombre</label>
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Nombre" })
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control form-control-lg", @type = "text", @placeholder = "Descripcion" })
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    @Html.TextBoxFor(m => m.Precio, new { @onkeypress = "return FnDecimal(event, this)", @maxlength = "7", @class = "form-control form-control-lg", @type = "text", @placeholder = "Precio" })
                </div>
                <div class="form-group">
                    <label>Cantidad</label>
                    @Html.TextBoxFor(m => m.Cantidad, new { @onkeypress = "return FnEnteros(event)", @maxlength = "3", @class = "form-control form-control-lg", @type = "text", @placeholder = "Cantidad" })
                </div>

                <div class="form-group">
                    <label>Imagen</label>
                    <input type="file" id="ImgProducto" accept="image/png" name="ImgProducto" class="form-control form-control-lg">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Procesar</button>
            }
        </div>
    </div>
</div>

<script src="~/js/consultanombreapi.js"></script>